.DS_Store
*~
\#*\#
*.aux
*.log
*.fls
*.dvi
*.toc
*.omc
*.out
.omakedb*
*.ps
main.pdf
word.cls
*.synctex.gz
*.fdb_latexmk
articles/*/word.cls
articles/*/CMakeFiles
articles/*/autom4te.cache
articles/*/cmake_install.cmake
articles/*/CMakeCache.txt
