.DS_Store
*~
\#*\#
*.aux
*.log
*.fls
*.dvi
*.toc
*.omc
*.out
*.blg
*.bbl
*.bcf
.omakedb*
*.ps
!articles/*/jisb5.ps
main.pdf
word.cls
main.run.xml
main-blx.bib
!main.bbl
*.synctex.gz
*.fdb_latexmk
articles/*/word.cls
articles/*/CMakeFiles
articles/*/autom4te.cache
articles/*/cmake_install.cmake
articles/*/CMakeCache.txt
